<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('sections/header', { title: 'Caredit' }) %>
    <div class="main__container">
      <p class="main__text">
        Caredit is a team of professionals who will quickly and efficiently
        adjust your software to the needs of today!
      </p>
    </div>
  </body>
</html>
