<!DOCTYPE html>
<html>
  <head>
    <title>Caredit</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('sections/header', {}) %>
    <div class="main__container">
      <h1 class="main__title">C<span>ar</span>e<span>dit</span></h1>
      <p class="main__text main">
        Welcome <br />to <%= title %>,<br />your personal <br />cars manager!
      </p>
    </div>
    <%- include('sections/footer', { }) %>
  </body>
</html>
